# Файли налаштувань IDE
.idea/
.vscode/
*.iml

# Директори та файли, що стосуються системи збірки
target/
out/
build/
*.class

# Лог-файли
*.log

# Файли операційної системи
.DS_Store
Thumbs.db

# Кеш та тимчасові файли
*.tmp
*.swp
*.cache

# Налаштування середовища
.env
.env.local

# Файли системи контролю версій
.git/
.gitignore
